<div class="container">
    <table class="table">
      <thead>
        <th>ID</th>
        <th>Model</th>
        <th>Year</th>
        <th>Color</th>
        <th></th>
        <th></th>
      </thead>
      <tbody> <tr *ngFor="let car of carArray">
          <td>{{car.id}}</td>
          <td>{{car.name}}</td>
          <td>{{car.year}}</td>
          <td>{{car.color}}</td>
          <td><button class="btn btn-danger" (click)=deleteCar(car.id)>X</button></td>
          <td><button class="btn btn-warning" (click)=edit(car.id)>!</button></td>
        </tr>
      </tbody>
    </table>

    </div>
   <!-- <div class="container">
      <div class="col-3">
        <div class="alert alert-danger" *ngIf="showChangeYearError">
          <strong>მოხდა შეცდომა!</strong> მოცემული აიდით ელემენტი ვერ მოიძებნა
        </div>
      <input type="number" class="form-control" [(ngModel)]="inputId"/>
      <button class="btn btn-primary" (click)="changeYear()">Check</button>
    </div>
    </div>-->
  <br>
    <div class="container">
        <div class="alert alert-danger" *ngIf="showError">
            <strong>მოხდა შეცდომა!</strong> {{errorText}}
          </div>
        <form [formGroup]="carForm" (ngSubmit)="saveCar()">
        <div class="col-4">
            <label for="id">Id: </label>
            <input formControlName="idControl" name="id" class="form-control" [attr.disabled]="true" type="text"/>

        <label for="name">Name: </label>
        <input formControlName="nameControl" name="name" class="form-control" type="text"/>
    
        <label for="year">Year: </label>
        <input formControlName="yearControl" name="year" class="form-control" type="number"/>
    
        <label for="year">Color: </label>
        <select class="form-control" formControlName="colorControl">        
            <option value="" > --აირჩიე--</option>
            <option  *ngFor="let color of colors" [value]="color" > {{color}}</option>    
        </select>
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
    </form>
    </div>


    

   <!-- <button (click)="changeName()">Change Name</button>-->
   <!-- <p>Input value is: {{nameControl.value}}</p>-->