<div class="container">
    <img src="https://static.bangkokpost.com/media/content/20200219/c1_1860789_200219162635.jpg" width="300px" height="300px" alt="">
    <p>The tiger is the largest extant cat species and a member of the genus Panthera. It is most recognisable for its dark vertical stripes on orange-brown fur with a lighter underside. It is an apex predator, primarily preying on ungulates such as deer and wild boar.</p>
     
    <a routerLink = "../../parent">Back To zoo</a>
    <a routerLink = "../">Back To zoo</a>
    <a routerLink = "../../home">Back To Homepage</a>
    
    </div>