<nav class="navbar navbar-expand-lg navbar-dark  static-top">
<div class="container">
    <a class="navbar-brand" href="#">Site name </a>
<button class="navbar-toggle" type="button" 
data-toggle ="collapse" 
data-target="#navbarResponsive"
 aria-expanded="false" 
 aria-label="Toggle"> <span class="navbar-toggle-icon"> </span></button>
<div class=" collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav">
<li class="nav-item active"> 
    Home
</li>
<li class="nav-item"> 
     Products
</li>
<li class="nav-item "> 
    Contact
</li>
    </ul>
</div>

</div>

</nav>



<h5> Hello from My Second Component</h5>
<div class="container">
<p>{{mytext}}</p> 
<input type="text" [value]="inputValue"/> 
<p class="yellow">My Text</p>
<p [class]="className"> Text My Text My Text</p>
<p [class.blue]="true"  > Text My Text My Text</p>

</div>