<!--<app-my-dropdown></app-my-dropdown>-->
<!--<app-new-calculator></app-new-calculator>-->
<app-select-component></app-select-component>
<app-my-card></app-my-card>

<!--<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
  </nav>

  <app-my-table></app-my-table>
<app-switch-example></app-switch-example>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown button
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>

  <div class="container">
      <div class="col-3">
   <input class="form-control" type="text" [(ngModel)]="inputText"/>

   <input class="form-control" type="text" [value]="inputText"/>
    <p> {{inputText}}</p>
    </div>

    <div *ngIf="showDiv">This is my text</div>

    <div *ngIf ="isLoggedIn; else isLoggedOut">
        User is Logged In
    </div>
    <ng-template #isLoggedOut>
        User is logged out
    </ng-template>
  </div>

  <app-directives-example></app-directives-example>

-->