<router-outlet></router-outlet>  
 
 <div>
 <div class="container" class="col-3">
     <label>Full Search</label>
 <input type="text" class="form-control" [(ngModel)]="searchInput"/>
 <button (click)="searchData()" class="btn btn-primary">Search</button>
</div>

<div class="container" class="col-6">
    <label>Id</label>
<input type="number" class="form-control" [(ngModel)]="idInput"/>
<label>Body</label>
<input type="text" class="form-control" [(ngModel)]="bodyInput"/>
<button (click)="searchById()"class="btn btn-primary">Search by Columns</button>
</div>

 <app-users [inputSearch] = "searchWord" [inputId] ="idWord" [inputBody]="bodyWord"></app-users>



 